header {
  background: url(img/4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100px;
}
.html {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.slide {
  max-width: auto;
  height: 600px;
  position: relative;
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(img/1.jpg) no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}
.slide2 {
  background: url(img/2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
.slide3 {
  background: url(img/3.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
}
.container span {
  color: black;
  text-transform: uppercase;
  display: block;
}
.text1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: -40px;
  background: #000;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: text 5s steps(40) infinite;
  background-color: rgb(230, 21, 21);
}

@keyframes text {
  from {
    width: 0;
    background: hsl(194, 90%, 45%);
  }
  to {
    width: 100%;
    background: #ffff00;
  }
}
